---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Student Hub">
	<div class="flex w-full">
		<main class="flex-1 p-6">
			<h1 class="text-center text-3xl font-semibold">Bienvenido, Tostu!</h1>
		</main>
	</div>
</Layout>
